.Card{
    border-radius: 10px;
    width: 200px;
    height: 350px;
    background-color: #FFFFFF;
    display:inline;
    box-shadow: 0 5px 15px -5px;
    margin: 10px;
    

}

.Dish{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px;
    width: 295px;
    height: 300px;
    display: block;
    object-fit: cover;
    bottom: 25px;
}

.Z-in{
    z-index: 10;
}

.Clock{
    width: 30px;
    position: absolute;
    left:130px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left: 10px;
    top: 310px;
}

.strMeal{
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left:10px;
    bottom: 55px;
    color: #FDC963;
    text-shadow: 0 0 2px black;
}

.strArea{
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left:10px;
    bottom: 100px;
    color: #FFFFFF;
    text-shadow: 0 0 2px  black
}

.strTags{
    position:relative;
    display:inline;
    float: right;
    font-weight: bold;
    margin-right: 20px;
    padding: 3px 10px;
    bottom: 360px;
    background-color: #FFFFFF;
    color: #FCAB3F;
    border-radius: 10px;
}

.price{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
   width: 130px;
    margin: 0;
    padding: 0;
    bottom: 12px;
    left: 160px;
}

.Chips{
    background-color: #E4E4E4;
}

.chipSelect{
    border-radius: 10px;
    font-size: 25px;
}

.chipButton{
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    padding: 10px 10px 40px 10px;
    margin-top: 10px;
    border: 1px solid #4D4D4D !important;
}

.masUno{
    color: #FDC963;
    padding-right: 7px;
}

.NavBar{
    background-color: #cccccc;
    
}

.Cards{
    background-color: #E4E4E4;
    padding: 20px 30px;
}

.Cart{
    background: #E4E4E4;
    height: 100vh;
    text-align: center;
    padding: 300px 0px;
    font-size: 30px;
    font-weight: bold;
}

.ChipImage{
    margin: 0px 7px 7px 0px;
}

.DateSelected{
    background-color: #FCAB3F;
    
}

.Dates{
    padding: 5px;
    margin:0;
}

.Dates h5{
    padding: 5px 0px;
    margin:0;
    min-width: 40px;
    min-height: 40px;
}


.Modal-bg-period{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.Modal-bg-active{
    visibility: visible;
    opacity: 1;
}

.Modal-period{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px;
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 120px;
}

.Modal-label-period{
font-size: 25px;
margin-top: 10px;
}

.Modal-button-period{
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    padding: 10px 120px 40px 120px;
    margin-top: 10px;
    border: none;
    background-color:#E4E4E4;

}

.Modal-button-period:target{
    box-shadow: 0 5px 15px -5px;
}

.Modal-clock{
    width: 30px;
    position: absolute;
    left:130px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left: 120px;
    top: 35px;
}

.Modal-close-period{
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}


.Modal-bg-service{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.Modal-bg-active{
    visibility: visible;
    opacity: 1;
}

.Modal-service{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px;
    width: 85%;
    height: 50%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    position: relative;
    overflow: scroll;
    padding-top: 70px;
    padding-left: 140px;
    padding-bottom: 20px;
}

.Modal-label-service{
font-size: 25px;
margin-top: 10px;
padding-right: 150px;

}

.Modal-button-service{
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    padding: 10px 120px 40px 120px;
    margin-top: 10px;
    border: none;
    background-color:#E4E4E4;

}

.Modal-button-service:active{
    box-shadow: 0 5px 15px -5px;
}

.Modal-cutlery{
    width: 30px;
    position: absolute;
    left:130px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left: 100px;
    top: 78px;
}

.Modal-close-service{
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.ButtonNav{
    border: none;
    background-color: transparent;
    
}

.ButtonNav:focus{
    outline: none;
}