.Card{
    border-radius: 10px;
    width: 200px;
    height: 350px;
    background-color: #FFFFFF;
    display:inline;
    box-shadow: 0 5px 15px -5px;
    margin: 10px;
    

}

.Dish{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px -5px;
    width: 295px;
    height: 300px;
    display: block;
    object-fit: cover;
    bottom: 25px;
}

.Clock{
    width: 30px;
    position: absolute;
    left:130px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left: 10px;
    top: 310px;
}

.strMeal{
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left:10px;
    bottom: 55px;
    color: #FDC963;
    text-shadow: 0 0 2px black;
}

.strArea{
    position: relative;
    font-weight: bold;
    margin: 0;
    padding: 0;
    left:10px;
    bottom: 100px;
    color: #FFFFFF;
    text-shadow: 0 0 2px  black
}

.strTags{
    position:relative;
    display:inline;
    float: right;
    font-weight: bold;
    margin-right: 20px;
    padding: 3px 10px;
    bottom: 360px;
    background-color: #FFFFFF;
    color: #FCAB3F;
    border-radius: 10px;
}

.price{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    bottom: 12px;
    left: 200px;
}

.Chips{
    background-color: #E4E4E4;
}

.chipSelect{
    border-radius: 10px;
    font-size: 25px;
}

.chipButton{
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    padding: 10px 10px 40px 10px;
    margin-top: 10px;
    border: 1px solid #4D4D4D !important;
}

.masUno{
    color: #FDC963;
    padding-right: 7px;
}

.navBar{
    background: #E4E4E4;
    
}

.Cards{
    background-color: #E4E4E4;
    padding: 20px 30px;
}

.Cart{
    background: #E4E4E4;
    height: 100vh;
    text-align: center;
    padding: 300px 0px;
    font-size: 30px;
    font-weight: bold;
}

.ChipImage{
    margin: 0px 7px 7px 0px;
}

.DateSelected{
    background-color: #FCAB3F;
}